/*
#background {
  position: fixed;
  height: 100%;
  width: 100%;
  background-image: url("../images/background_fullscreen.JPG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
} */
/* General Styles */

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  line-height: 30px;
  text-align: center;
  background: #253035;
}

strong { font-weight: 600; }

a, a:hover, a:focus {
  color: #8f9ce5;
  text-decoration: none;
  transition: all .3s;
}

.about-container h1, .art-section h1, .contact-container h1 {
  font-family: 'Bad Script', cursive;
}
/* end general styles */

/* Navigation */
/* nav { */
  /* opacity: 0.9; */
  /* background-color: rgba(255, 255, 255, 0.9); */
/* } */
nav .collapse-social {
  display: none;
}
nav .social-icons a{
  color: rgba(0,0,0,0.5);
  /* font-size: 24px; */
}
nav .social-icons span {
  margin-left: 5px;
}
nav .social-icons span:hover a{
  color: rgba(0,0,0,0.8);
}

/* Home page area */
.home {
  padding: 210px 0px;
  /* color: #fff; */
}
.home .title-heading {
  font-family: 'Bad Script', cursive;
  margin-top: 25px;
  font-size: 90px;
}
.home .description {
  margin: 30px 0 10px 0;
}

/* About */
.about-container{
  padding: 75px 0px;
}

/* art work sections */
.art-section {
  min-height: 8em;
  padding: 75px 0px;
  /* margin-top: 75px; */
}

.card {
  color: #253035;
}

/* Contact */
.contact-container {
  padding: 75px 0px;
}

/* Footer */
footer {
  background-color: rgba(248, 249, 250,0.75);
  color: #253035;
  margin-top: 80px;
}
footer .flex-center > a {
  margin: 0px 15px;
  color: rgba(0,0,0,0.5);
}
footer .flex-center > a:hover {
  color: rgba(0,0,0,0.8);
}
footer .footer-copyright {
  background-color: rgba(248,249,250,0.5);
}

/* Media Queries */
@media screen and (max-width: 990px) {
  .social-icons { 
    display: none; 
  }
  nav .collapse-social {
    display: list-item; 
  }
}