/*
#background {
  position: fixed;
  height: 100%;
  width: 100%;
  background-image: url("../images/background_fullscreen.JPG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
} */
/* General Styles */

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  line-height: 30px;
  text-align: center;
  background: #253035;
}

strong { font-weight: 600; }

a, a:hover, a:focus {
  color: #495288;
  text-decoration: none;
  transition: all .3s;
}

.about-container h1, .art-section h1 {
  font-family: 'Bad Script', cursive;
}
/* end general styles */

/* Navigation */
nav {
  opacity: 0.9;
}

/* Home page area */
.home {
  padding: 210px 0px;
  /* color: #fff; */
}
.home .title-heading {
  font-family: 'Bad Script', cursive;
  margin-top: 25px;
  font-size: 90px;
}
.home .description {
  margin: 30px 0 10px 0;
}

/* About */
.about-container{
  padding: 75px 0px;
}

/* art work sections */
.art-section {
  min-height: 8em;
  padding: 75px 0px;
  /* margin-top: 75px; */
}

.card {
  color: #253035;
}